<div class="deck flex-row">
    <div class="card side left flex-column">
        <div class="topleft"><img class="suit" src="../public/res/images/<%=suit%>.svg" alt=""></div>
        <div class="bottomright"><img class="suit" src="../public/res/images/<%=suit%>.svg" alt=""></div>
    </div>
    <div class="card top  flex-column">
        <div class="topleft"><img class="suit" src="../public/res/images/<%=suit%>.svg" alt=""></div>
        <div class="image">
            <img src="../public/res/images/<%=suit%>_token.svg" alt="" srcset="">
        </div>
        <a href="<%=game%>" class="title" style="background-color: var(--<%=color%>)"><%=game.toUpperCase()%></a>
        <div class="bottomright"><img class="suit" src="../public/res/images/<%=suit%>.svg" alt=""></div>
    </div>
    <div class="card side right">
        <div class="topleft"><img class="suit" src="../public/res/images/<%=suit%>.svg" alt=""></div>
        <div class="bottomright"><img class="suit" src="../public/res/images/<%=suit%>.svg" alt=""></div>
    </div>
</div>