<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=game.name%></title>
    <link rel="shortcut icon" href="../public/res/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../public/styles/root.css">
    <link rel="stylesheet" href="../public/styles/lobby.css">
    <script src="../public/scripts/lobby.js" defer></script>
</head>
<body class="flex-column">
    <%-include('partials/header'), user%>
    
    <div class="title flex-column w100">
        <img src="../public/res/cards/aces.png" alt="">
        <h1><%=game.name%></h1>
    </div>

    <main class="flex-column">
        <div class="container flex-column">
            <div class="flex-row w100 create-and-join">
                <div class="create-room box flex-column">
                    <h2>Create a room</h2>
                    <form action="/<%=game.short%>/create" method="post" autocomplete="off" class="flex-row">
                        <button type="submit">Create</button>
                    </form>
                </div>
                <div class="join-room box flex-column">
                    <h2>Join a room</h2>
                    <form action="/<%=game.short%>/join" method="GET" autocomplete="off" class="flex-row" id= "join-form">
                        <input type="number" name="code">
                        <button type="submit">Join</button>
                    </form>
                </div>
            </div>
            <div class="room-list box flex-column">
                <div class="header w100 flex-row">
                    <h2>Room list</h2>
                    <button class="refresh-list" onclick="refreshList('<%=game.short%>')"><img src="../public/res/UI/refresh.svg" alt=""></button>
                </div>
                <div class="room template flex-row w100">
                    <div class="name">Room code</div>
                    <a class="owner">Owner</a>
                    <div class="player-count">Players</div>
                    <div class="join"></div>
                </div>
                <div id="existing-rooms" class="rooms flex-column w100">
                    
                </div>
            </div>
        </div>
    </main>

</body>
</html>